<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HallOfFameSlideshow.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HallOfFameSlideshow.Settings>
            <setting name="RandomValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TrendingValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RecentValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ArcheologistValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SupporterValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ViewMaxAgeValue" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="GetRandomWeightedImageApiEndpoint" serializeAs="String">
                <value>https://halloffame.cs2.mtq.io/api/v1/screenshots/weighted</value>
            </setting>
            <setting name="CreatorName" serializeAs="String">
                <value></value>
            </setting>
            <setting name="CreatorId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>paradox</value>
            </setting>
            <setting name="HWID" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SlideShowInterval" serializeAs="String">
                <value>60</value>
            </setting>
        </HallOfFameSlideshow.Settings>
    </userSettings>
</configuration>
