<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add key="CreatorName" value="[YOUR_USERNAME]" />
	<add key="CreatorId" value="[YOUR_CREATORID]" />
	<add key="HWID" value="[YOUR_HARDWAREID]" />
	<add key="RandomValue" value="10" />
	<add key="TrendingValue" value="10" />
	<add key="RecentValue" value="10" />
	<add key="ArcheologistValue" value="10" />
	<add key="SupporterValue" value="10" />
	<add key="ViewMaxAgeValue" value="90" />
	<add key="SlideShowInterval" value="60" />
</configuration>